# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Add comments to code cells.
- Create markdown cells.
- Add ordered and unordered lists to markdown cells.
- Format contents of markdown cells with heading styles.

## Author
Sarvapriya Garg

Some of the popular languages that Data Scientists use are:

1. C++
2. JavaScript
3. Julia
4. PHP
5. Python
6. R
7. Ruby
8. Scala
9. SQL
10. Visual Basics

Some of the commonly used libraries used by Data Scientists include:

1. Apache Spark
2. Big DL
3. Ggplot2
4. Keras
5. Matplotlib
6. NumPy
7. Pandas
8. Scikit-learn
9. TensorFlow
10. Vegas

| Data Science Tools        |
|---------------------------|
| Anaconda                  |
| Google Colab              |
| Jupyter Notebook          |
| RStudio                   |
| Spyder                    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335